flows (2).json
[{"id":"a757e02a.4c491","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"edd4fdef.1bae7","type":"tab","label":"smart health auto ai","disabled":true,"info":""},{"id":"b9cd87d3.236228","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"aa8c098d.ff1fb8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"5e77814f.f58cc","type":"ibmiot","z":"","name":"Health API KEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2d9ebce4.11d264","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1e6d0a5c.3acd06","type":"ui_group","z":"","name":"OUTPUT","tab":"2d9ebce4.11d264","order":1,"disp":false,"width":"13","collapse":false},{"id":"12980740.917449","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f48c554d.de9838","type":"ibmiot","z":"","name":"health","keepalive":"60","serverName":"3lyjzu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"db44f184.5d667","type":"ui_group","z":"","name":"Health Status","tab":"28f06c0f.48cdb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"28f06c0f.48cdb4","type":"ui_tab","z":"","name":"Health Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"ef032653.3ffff8","type":"ibmiot","z":"","name":"","keepalive":"120","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"211d8ebe.5708c2","type":"function","z":"a757e02a.4c491","name":"pretoken","func":"global.set (\"age\", msg.payload.age);\nglobal.set (\"temperature\", msg.payload.temperature);\nglobal.set (\"systolic\", msg.payload.systolic);\nglobal.set (\"diastolic\", msg.payload.diastolic);\nglobal.set (\"pulse\",msg.payload.pulse);\nvar apikey=\"XS8RhVEHP44ba5ZzIw5Nu533iYDFiWiy9Y-y8L_SdC22\";\nmsg.headers= (\"content-type”:application/x-www-form-urlencoded\")\nmsg.payload= {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[["a648ed17.2a882"]]},{"id":"989c9a8e.df3cf8","type":"function","z":"a757e02a.4c491","name":"pre-predication","func":"var age = global.get(\"age\")\nvar temperature = global.get(\"temperature\")\nvar systolic = global.get(\"systolic\")\nvar diastolic = global.get(\"diastolic\")\nvar pulse = global.get(\"pulse\")\nvar token=msg.payload.access_token\nvar instance_id= \"cd530ad9-8043-4e74-a2b5-e488cbe88f2b\"\nmsg.headers={'Content-Type': 'application/json', 'Authorization': 'Bearer ' +token,\"ML_Instance-ID\":instance_id }\nmsg.payload={\"fields\": [\"health\"], \"values\":[[age,temperature,systolic,diastolic,pulse]]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":160,"wires":[["dc526fba.208a"]]},{"id":"dc526fba.208a","type":"http request","z":"a757e02a.4c491","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b656981e-5b34-4b0d-a1fe-98be1fa9d430/predictions","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":160,"wires":[["74c4cd67.ea8934"]]},{"id":"74c4cd67.ea8934","type":"function","z":"a757e02a.4c491","name":"output parsing","func":"var age = global.get (\"age\")\nvar temperature = global.get (\"temperature\")\nvar systolic = global.get (\"systolic\")\nvar diastolic = global.get (\"diastolic\")\nvar pulse = global.get (\"pulse\")\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\")\nmsg.payload = {\ndetails: {\nhealth: {\nage: 'age',\ntemperature: 'temperature',\nsystolic: 'systolic',\ndiastloic:'diastolic',\npulse: 'pulse',\noutput: 'output'\n}\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":280,"wires":[["2225d5cf.70eb2a"]]},{"id":"2225d5cf.70eb2a","type":"ui_template","z":"a757e02a.4c491","group":"1e6d0a5c.3acd06","name":"","order":0,"width":"13","height":"8","format":"<div layout=\"row\" layout-align=\"start center\">\n <span flex>age</span>\n <span flex>temperature</span>\n <span flex>systolic</span>\n <span flex>dailostic</span>\n <span flex>pulse</span>\n <span flex>output</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n <span flex style=\"color: green\">{{health.age}}</span>\n <span flex style=\"color: red\">{{health.temperature}}</span>\n <span flex  style=\"color: blue\"> {{health.systolic}}</span>\n <span flex   style=\"color: yellow \">{{health.diastloic}}</span>\n <span flex style=\"color: black \">{{health.pulse}}</span>\n <span flex  style=\"color: Brown\" >{{health.output}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":500,"y":280,"wires":[[]]},{"id":"19951f8b.efa02","type":"ibmiot in","z":"a757e02a.4c491","authentication":"apiKey","apiKey":"5e77814f.f58cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"09876543","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":110,"y":60,"wires":[["211d8ebe.5708c2"]]},{"id":"f1d1c7ad.b8c9e8","type":"function","z":"edd4fdef.1bae7","name":"retriving ibm iot health values","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"systolic\",msg.payload.systolic)\nglobal.set(\"diastolic\",msg.payload.diastolic)\nglobal.set(\"pulse\",msg.payload.pulse)\nvar apikey=\"XS8RhVEHP44ba5ZzIw5Nu533iYDFiWiy9Y-y8L_SdC22\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":80,"wires":[["7a3f7708.ba3568"]]},{"id":"7a3f7708.ba3568","type":"http request","z":"edd4fdef.1bae7","name":"get token","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":80,"wires":[["4bd7f1f.a25721"]]},{"id":"4bd7f1f.a25721","type":"function","z":"edd4fdef.1bae7","name":"Pre Prediction","func":"var age = global.get('age')\nvar temperature = global.get('temperature')\nvar systolic = global.get('systolic')\nvar diastolic = global.get('diastolic')\nvar pulse = global.get('pulse')\nvar token=msg.payload.access_token\nvar instance_id=\"cd530ad9-8043-4e74-a2b5-e488cbe88f2b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"temperature\", \"systolic\", \"diastolic\", \"pulse\"], \"values\": [[age,temperature,systolic,diastolic,pulse]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["e0497d3d.b64b5"]]},{"id":"e0497d3d.b64b5","type":"http request","z":"edd4fdef.1bae7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b656981e-5b34-4b0d-a1fe-98be1fa9d430/predictions","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":180,"wires":[["3823c7ba.774be8"]]},{"id":"3823c7ba.774be8","type":"function","z":"edd4fdef.1bae7","name":"output parsing","func":"var age = global.get ('age')\nvar temperature = global.get ('temperature')\nvar systolic = global.get ('systolic')\nvar diastolic = global.get ('diastolic')\nvar pulse = global.get ('pulse')\nmsg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",output)\nmsg.payload = {\n  details: {\n    health: {\n      age: age,\n      temperature: temperature,\n      systolic: systolic,\n      diastloic:diastolic,\n      pulse: pulse,\n        output: output\n    }\n  }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["ced57c2d.b07fa"]]},{"id":"ced57c2d.b07fa","type":"ui_template","z":"edd4fdef.1bae7","group":"db44f184.5d667","name":"Health Prediction Output","order":0,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n<span flex>age</span>\n<span flex>temperature</span>\n<span flex>systloic</span>\n<span flex>daistolic</span>\n<span flex>pulse</span>\n<span flex>output</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n<span flex style=\"color: green\"> {{health.age}} </span>\n<span flex style=\"color: red\"> {{health.temperature}} </span>\n<span flex style=\"color: blue\"> {{health.systolic}} </span>\n<span flex style=\"color: yellow\"> {{health.diastloic}} </span>\n<span flex style=\"color: black\"> {{health.pulse}} </span>\n<span flex style=\"color: Brown\"> {{health.output}} </span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":590,"y":300,"wires":[["6de410f8.d7229"]]},{"id":"6de410f8.d7229","type":"debug","z":"edd4fdef.1bae7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":160,"wires":[]},{"id":"d9e97c76.b980b","type":"ibmiot in","z":"edd4fdef.1bae7","authentication":"apiKey","apiKey":"5e77814f.f58cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"09876543","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":70,"y":180,"wires":[["f1d1c7ad.b8c9e8"]]},{"id":"a648ed17.2a882","type":"http request","z":"a757e02a.4c491","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":60,"wires":[["989c9a8e.df3cf8"]]},{"id":"d3c8f52c.bc2718","type":"ibmiot in","z":"aa8c098d.ff1fb8","authentication":"apiKey","apiKey":"5e77814f.f58cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"09876543","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":150,"y":160,"wires":[["94207749.49d708","22a174aa.ec11dc","c43fbee5.b98cd","79f4ed61.2ed7a4"]]},{"id":"e38661be.b7d2c","type":"debug","z":"aa8c098d.ff1fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":260,"wires":[]},{"id":"94207749.49d708","type":"function","z":"aa8c098d.ff1fb8","name":"","func":"global.set('Age' , msg.payload.age);\nmsg.payload=msg.payload.age;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[["e38661be.b7d2c","7d00d83b.514118"]]},{"id":"22a174aa.ec11dc","type":"function","z":"aa8c098d.ff1fb8","name":"","func":"global.set('BP' , msg.payload.systolic +'/' + msg.payload.diastolic);\nmsg.payload=msg.payload.systolic +'/' + msg.payload.diastolic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["e38661be.b7d2c","6b506736.4ce4d8"]]},{"id":"c43fbee5.b98cd","type":"function","z":"aa8c098d.ff1fb8","name":"","func":"global.set('Pulse' , msg.payload.pulse);\nmsg.payload=msg.payload.pulse;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["e38661be.b7d2c","7593688.2acfd98"]]},{"id":"46a67d41.2ae264","type":"http in","z":"aa8c098d.ff1fb8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["7dc38404.c2ec0c"]]},{"id":"39459178.7ee17e","type":"http response","z":"aa8c098d.ff1fb8","name":"","statusCode":"","headers":{},"x":630,"y":300,"wires":[]},{"id":"7dc38404.c2ec0c","type":"function","z":"aa8c098d.ff1fb8","name":"","func":"msg.payload={'Age' : global.get(\"Age\"), 'BP' : global.get(\"BP\"), 'Pulse' : global.get(\"Pulse\"),'temperature':global.get(\"temperature\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["39459178.7ee17e"]]},{"id":"79f4ed61.2ed7a4","type":"function","z":"aa8c098d.ff1fb8","name":"","func":"global.set('temperature' , msg.payload.temperature);\nmsg.payload=msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["e38661be.b7d2c","3f289a30.849696"]]},{"id":"7d00d83b.514118","type":"ui_text","z":"aa8c098d.ff1fb8","group":"1e6d0a5c.3acd06","order":1,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":60,"wires":[]},{"id":"6b506736.4ce4d8","type":"ui_text","z":"aa8c098d.ff1fb8","group":"1e6d0a5c.3acd06","order":2,"width":0,"height":0,"name":"","label":"BP","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":100,"wires":[]},{"id":"7593688.2acfd98","type":"ui_text","z":"aa8c098d.ff1fb8","group":"1e6d0a5c.3acd06","order":3,"width":0,"height":0,"name":"","label":"Pulse","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":160,"wires":[]},{"id":"3f289a30.849696","type":"ui_text","z":"aa8c098d.ff1fb8","group":"1e6d0a5c.3acd06","order":4,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":615,"y":208,"wires":[]}]